.themed-button {
      background: linear-gradient(to right, #1aff00, #7eff70, #1aff00, #7eff70, #1aff00, #7eff70, #1aff00, #7eff70);
      background-size: 300%;
      background-position: left;

      transition: all 0.8s ease;

      border-width: 0;
      color: #333 !important;
      box-shadow: 0px 0px 15px #1aff00b6;
      text-transform: capitalize;
}
.themed-button:hover, .themed-button:active {
      background-position: right;
}
.themed-button:disabled {
      box-shadow: none;
      background: #1aff00b3;
      color: rgb(67, 67, 67) !important;
}