.default {
	transition: all 0.5s linear;
}

.valid {
	color: #1aff00 !important;
}

.invalid {
	color: #095600 !important;
}
.pending {
	animation-name: pending;
	animation-duration: 2s;
	animation-iteration-count: infinite;
      animation-timing-function: linear;
}

@keyframes pending {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
